#
#  .gitignore
#  wake-word-detector
#
#  Created by Joel Lopes Da Silva on 2/8/26.
#  Copyright © 2026 Joel Lopes Da Silva. All rights reserved.
#

/target
/spoken-word-detection-model/data
/spoken-word-detection-model/logs
/spoken-word-detection-model/__pycache__
/spoken-word-detection-model/.venv
